<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search</title>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <script type="text/javascript" src="../static/js/vendor/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1>Waah Tandoor</h1>
      </div>

      <div class="body">
        <form class="search_form" action="{{url_for('search')}}" method="get" role="form">
          <input type="text" name="query" value="" placeholder="Search">
          <button type="button">Search</button>
        </form>

        <!-- <table id="customer_details_table">
          <thead>
            <tr>
              <th>Name</th>
              <th>mobile 1</th>
              <th>mobile 2</th>
              <th>mobile 3</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody id="customer_details_tbody">
            {% for item in details %}
            <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.mobile1 }}</td>
              <td>{{ item.mobile2 }}</td>
              <td>{{ item.mobile3 }}</td>
              <td>{{ item.address }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table> -->


        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>mobile 1</th>
              <th>mobile 2</th>
              <th>mobile 3</th>
              <th>Address</th>
             </tr>
         </thead>
         <tbody id="tbody">
         </tbody>
        </table>

        <a href="{{url_for('index')}}">Add New Customer</a>

      </div>

      <div class="footer">

      </div>
    </div>


  </body>
</html>
