<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search</title>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <script type="text/javascript" src="../static/js/vendor/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
    {{ JSGlue.include() }}
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1>Waah Tandoor</h1>
      </div>

      <div class="body">
        <form class="search_form" action="{{url_for('search')}}" method="get" role="form">
          <input type="text" name="query" value="" placeholder="Search">
          <button type="button">Search</button>
        </form>
        <a href="{{url_for('index')}}">Add New Customer</a>
        <div class="message" id="message"></div>
      </div>

      <div class="datalist" id="datalist">


          <table id="body_tbl">
            <thead>
              <tr>
                <th>Name</th>
                <th>mobile 1</th>
                <th>mobile 2</th>
                <th>mobile 3</th>
                <th>Address</th>
                <th>Edit</th>
                <th>Delete</th>
               </tr>
           </thead>
           <tbody id="tbody">
           </tbody>
          </table>

          <div id="paginationBox">
          </div>
      </div>

      <div class="footer">

      </div>


    </div>

  </body>
</html>
